{% extends 'base.html.twig' %}

{% block body %}
    
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
    
    {{ form_start(form, {'attr': {'action': path('dyatlov.users.reset')} }) }}
    {{ form_end(form) }}
{% endblock %}
