{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form, {'attr': {'action': path('dyatlov.users.login')} }) }}
    {{ form_end(form) }}

{% endblock %}
